:root{
    --th-teal: #2F937B;
}


#employment, #profile {
    margin-bottom: 50px;
}


.padding-50-down {
	padding-down: 50px !important;
}


.title-gap {
	margin: 37px;
}


.alt {
	color: var(--th-teal) !important;
}

.alt:hover, .alt:focus {
	color: #666 !important;
}


@media screen  and ( min-width: 768px ) {
	.user-no-thanks {
		margin-top: 35px !important;
	}

}

.modal-dialog { 
	margin: 130px auto;
}

form .row { 
margin-bottom: 15px !important; 
}

.test{
                        overflow: hidden;
/*                        
*/                    }

                    .test-1 {
                        width: 200%;
                        position: relative;
                        top: 0px;
                        left: 0px;
                        transition: left 1s ease-in-out;
                    }

                    .test-2 {
                        /*left: 400px;*/
                        z-index: 51;
                        
                    }

                    .test-a {
                        display: inline-block;
                        margin-right: 20px;
                        width: 50%;
                        position: relative;
                        left: 800px;
                        padding-right: 0px;
                    }
                    .test-b {
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        width: 50%;
                    }






#profile{ 
    margin-top: 20px; 
}

.th-img {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}

.th-row > div {
    height: 100%;
}

.sector { 
/*height: 95vh;*/
min-height: 300px; 
}

.sector-center .container, .sector-center .row {
    height: 100%;
}

.dropdown-menu .fa {
    margin-top: 3px;
}


.summary-robot {
	margin-top: 20px;
	height: 180px;
	background: url(/img/robot.jpg) no-repeat center;
}


.examples-row .thumbnail div:first-child {
	height: 120px;
	background-image: url(/img/th-image5.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0.5em;
	border-radius: 5px;
}


.event-app-img {
	background-image: url(/img/examples/event-app-iphone.png) !important;
}
.check-in-img {
	background-image: url(/img/examples/check-in/check-in-app.jpg) !important;
}
.chogm-scanner-img {
	/*background-image: url("/img/examples/");*/
}
.innovate-touch-img {
	background-image: url(/img/examples/innovate/landing_thumb.png) !important;
}
.polfed-booking-img {
	background-image: url(/img/examples/exhibitor-booking/booking.png) !important;
}
.gdpr-form-img {
	/*background-image: url("/img/examples/");*/
}

#event-app .col-sm-5{
    margin-top: 40px;
}
.event-app-qr {
    font-size: 15em;
    color: var(--th-teal);
}